@charset "UTF-8";

/* PAGE */

.page {
  --transition-duration: 0.25s;

  background: var(--background-image) no-repeat top center,
    var(--background-color);
  background-size: auto 770px;
  background-attachment: fixed;
  color: var(--main-text-color);
  transition-duration: var(--transition-duration);
}

/* HEADER */

.header {
  padding: 0 18px;
  position: relative;
}

@media (width < 768px) and (width >= 375px) {
  .header {
    padding: 0 12px;
  }
}

.header__rec {
  position: absolute;
  color: var(--rec-color);
  text-transform: uppercase;
  top: 23px;
  right: 50px;
}

@media (width < 768px) and (width >= 375px) {
  .header__rec {
    top: 9px;
    right: 40px;
  }
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  margin: -3px -18px 1 1;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
}

.header__theme-menu {
  padding-top: 18px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 11px;
}

@media (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__theme-menu-list {
    gap: 12px;
  }
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--corners-color);
  line-height: 100%;
  padding: 3.5px 10px;
  border: transparent;
  background: none;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
}

@media (width < 1024px) and (width >= 768px) {
  .header__theme-menu {
    padding-top: 193px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__theme-menu {
    padding-top: 74px;
  }
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  margin-left: -1.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
}

.header__title-container {
  padding: 240px 0 134px;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

@media (width < 1024px) and (width >= 768px) {
  .header__title-container {
    padding: 150px 0 181px;
    gap: 135px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__title-container {
    padding: 71px 0 73px;
    gap: 55px;
  }
}

@media (width < 1024px) and (width >= 375px) {
  .header__title {
    text-shadow: 4px 4px 0px var(--title-decor);
  }
}

@media (width < 1024px) and (width >= 768px) {
  .header__title {
    margin-left: -4%;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-left: 0;
    line-height: 83.5%;
  }
}

.header__subtitle {
  color: var(--article-title-color);
  align-self: flex-end;
  font-weight: 700;
  width: 50%;
}

@media (width < 425px) {
  .header__subtitle {
    width: 100%;
  }
}

/* MAIN CONTENT */

.main {
  padding: 0 19px;
  margin: 60px 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 82px;
}

@media (width < 768px) and (width >= 375px) {
  .main {
    padding: 1 10px;
    margin: 35px 0;
    gap: 50px;
  }
}

.section {
  line-height: 130%;
}

.section__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: var(--section-title-color);
}

.dark-title {
  color: var(--article-title-color);
}

@media (width < 1024px) and (width >= 768px) {
  .section__title {
    width: 35%;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section__title {
    width: 100%;
    margin-bottom: 20px;
  }
}

.section__article-list {
  display: flex;
  flex-wrap: wrap;
}

.section__article-list-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section__article-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-title_regular {
  font-weight: 400;
}

.section__article-text-link {
  border: transparent;
  text-shadow: 3px 3px 0px var(--link-shadow);
  transition-duration: var(--transition-duration);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section:first-of-type,
.section:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section:first-of-type .section__title,
.section:nth-of-type(3) .section__title {
  flex: 0 0 auto;
  width: 35%;
}

@media (width < 1024px) and (width >= 768px) {
  .section:first-of-type .section__title,
  .section:nth-of-type(3) .section__title {
    width: 31%;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section:first-of-type .section__title,
  .section:nth-of-type(3) .section__title {
    width: 100%;
    margin-bottom: 22px;
  }
}

.section:first-of-type .section__article-list,
.section:nth-of-type(3) .section__article-list {
  flex: 0 0 auto;
  width: 67%;
  flex-direction: column;
  gap: 21px;
}

@media (width < 1024px) and (width >= 768px) {
  .section:first-of-type .section__article-list,
  .section:nth-of-type(3) .section__article-list {
    width: 66%;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section:first-of-type .section__article-list,
  .section:nth-of-type(3) .section__article-list {
    width: 100%;
  }
}

.section:nth-of-type(2) .section__title {
  width: 30%;
}

@media (width < 768px) and (width >= 375px) {
  .section:nth-of-type(2) .section__title {
    width: 102%;
  }
}

@media (width >= 1024px) {
  .section:nth-of-type(2) .section__article-list {
    justify-content: space-between;
  }
}

@media (width < 1024px) and (width >= 375px) {
  .section:nth-of-type(2) .section__article-list {
    gap: 24px;
  }
}

.section:nth-of-type(2) .section__article-item {
  flex: 0 0 auto;
  width: 33%;
}

@media (width < 1024px) and (width >= 375px) {
  .section:nth-of-type(2) .section__article-item {
    flex: 1 0 auto;
    width: 100%;
  }
}

.section:last-of-type {
  display: grid;
}

.section:last-of-type .section__title {
  grid-column: 1/-1;
  width: 100%;
  margin: 0;
}

@media (width >= 768px) {
  .section:last-of-type .section__image {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .section:last-of-type .section__image:first-of-type,
  .section:last-of-type .section__image:last-of-type {
    grid-column: span 2;
  }

  .section:last-of-type .section__image:nth-of-type(2),
  .section:last-of-type .section__image:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width < 768px) {
  .section:last-of-type .section__image {
    width: 100%;
    height: auto;
  }

  .section:last-of-type .section__image-container {
    width: 100px;
  }
}

@media (width >= 768px) {
  .section:last-of-type {
    grid-template-columns: repeat(3, 1fr);
    gap: 21px 17px;
  }
}

@media (width < 768px) {
  .section:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
}

/* FOOTER*/

.footer {
  padding: 280px 21px;
  position: relative;
  text-align: center;
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
}

@media (width < 1024px) and (width >= 375px) {
  .footer__title {
    text-shadow: 2px 2px 0px var(--title-decor);
  }
}

@media (width < 768px) and (width >= 375px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width < 1024px) and (width >= 768px) {
  .footer {
    padding: 435px 18px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .footer {
    margin-top: 40px;
    padding: 260px 10px;
  }
}